@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background: #F2F2F2;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.button {
  color: #F2F2F2;
  border: 0;
  padding: 0;
  border-radius: 4px;
  background: #82B3D3;
}

.button-brown {
  background: #756157;
}

.button-green {
  background: #7DB54F;
}

.location-button {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: #ffffff;
}

.reset {
  background-color: transparent;
}

.apply {}

a {
  text-decoration: none;
  color: #000000;
}

p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.li {
  display: inline-flex;
}

.header {
  color: #000;
  width: 1200px;
  height: 65px;
}

.navigation-button {
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
}

.greeting-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  height: 72px;
  width: 620px;
  margin: auto;
}

.greeting-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0%;
  margin-top: 31px;
}

.navigation {
  font-weight: 700;
  display: flex;
  height: 65px;
  align-items: center;
  justify-content: space-between;
  margin: 0px 70px 0px 70px;
}

.navigation-item {}

.navigation-list {
  display: flex;
  width: 390px;
  list-style: none;
  width: 390px;
  gap: 34px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation-user {
  gap: 0px;
  width: 293px;
}

.navigation-favorite {
  margin-right: 20px;
}

.main {
  text-decoration: none;
}

.greeting-img {
  margin: 0 auto;
  background-image: url("../images/background-index.jpg");
  background-size: 1200px 485px;
  background-repeat: no-repeat;
  height: 485px;
}

.greeting-img-photo {
  display: block;
  margin: auto;
}

.greeting-block {
  margin: 0%;
  padding: 63px 272px 90px;
}

.advantages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  font-size: 18px;
  text-align: center;
}

.advantages-heading-img {
  grid-column-start: 2;
  grid-column-end: -1;
}

.advantages-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.advantages-number {
  margin-top: 30px;
}

.advantages-description {
  margin-top: 30px;
}

.advantages-list {
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-item {
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 80px;
  padding-bottom: 81px;
  width: 230px;
  height: 224px;
}

.blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.first {
  background-color: #82B3D3;
  color: #ffffff;
}

.eat {
  background-color: #ffffff;
}

.bridge {
  background-color: #82B3D3;
  color: #ffffff;
}

.road {
  background: rgba(131, 179, 211, 0.2);
}

.search {
  margin: 0 auto;
  background-color: #ffffff;
  padding: 55px 304px;
  text-align: center;
}

.search-title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.search-text {
  margin: 0;
  padding: 0;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 29px;
}

.search-button {
  margin-top: 56px;
}

.rating {
  background: #F2F2F2;
  border-radius: 4px;
  margin-top: 16px;
}

.product {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20px;
  grid-template-columns: repeat(auto-fill, 140px);
}

.type {
  padding: 0;
  margin: 0;
}

.product-type {
  font-size: 18px;
  line-height: 21px;
  margin-right: 100%;
  margin: 0;
  padding: 0;
  margin-top: 16px;
}

.product-photo {
  grid-column-start: 1;
  grid-column-end: -1;
}

.product-price {
  margin: 0;
  padding: 0;
  margin-top: 16px;
}

.product-title {
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 0;
  padding: 0;
  margin-top: 16px;
}

.product-button {
  margin-top: 16px;
  padding: 9px;
}

.star {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 6px;
  margin-top: 16px;
}

.subscribe-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}

.footer-text {
  font-size: 22px;
  line-height: 26px;
  margin-top: 29px;
}

.footer-mail {
  color: #ffffff;
  background-image: url("../images/background-footer.jpg");
  text-align: center;
  padding: 94px 200px;
}

.footer-mail-catalog {
  text-align: center;
  padding: 94px 200px 94px 200px;
}

.mail-form {
  margin-top: 46px;
}

.filter {
  color: #ffffff;
  background-image: url("../images/background-filter.jpg");
  padding: 35px 70px 70px 70px;
}

.filter-form {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
}

.filter-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
}

.filter-link {
  color: #ffffff;
}

.filter-heading {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0%
}

.filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 0;
  margin: 0;
}

.header-catalog {
  display: flex;
  justify-content: space-between;
  padding: 60px 71px 62px 72px;
}

.option {
  margin: 0;
  padding: 0;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.page-layout {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.hotels-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

.footer-number {
  font-size: 40px;
  line-height: 40px;
  grid-column-start: 2;
  grid-column-end: 2;
}

.cost {
  padding: 0;
  margin: 0;
}

.cost-selection-item {
  opacity: 0.3;
}

.pagination {
  display: flex;
  width: 400px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pages-number {
  margin-left: 270px;
}

.pages-number-list {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 160px;
  height: 49px;
}

.pagination-item {
  border-radius: 4px;
  margin: 4px;
}

.pagination-value {
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  color: #ffffff;
  padding: 12px 15px
}

.pagination-value-first {
  background: #F2F2F2;
  border-radius: 4px;
  color: #000000;
  padding: 12px 15px
}

.pagination-footer {
  padding: 96px 71px 25px 73px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
}

html {
  height: 100%;
}

.location {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 12px;
  background-color: #ffffff;
}

.location-button {
  border: 2px solid #000000;
  border-radius: 4px;
  padding: 14px 12px;
}

.footer-contact {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  padding: 45px 70px 35px 80px;
}

.footer-catalog {
  height: 411px;
  width: 1200px;
  text-align: center;
}

.social {
  grid-column-start: 1;
  grid-column-end: 1;
  display: flex;
  list-style: none;
}

.footer-logo {
  grid-column-start: 3;
  grid-column-end: 3;
}

.vkontakte-logo {
  margin-right: 11.67px;
}

.telegram-logo {
  margin-right: 14.67px;
}

.header-button {
  padding: 9px 40px 8px 40px;
}

fieldset {
  border-style: none;
  width: 150px;
  height: 150px;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 20px 91px;
  gap: 58px;
}

.infrastructure {
  padding: 0;
  margin: 0;
}